In [16]:
import os
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [275]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\leann\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [3]:
# Mars Plant Science webpage
url = "https://redplanetscience.com/"
browser.visit(url)

In [4]:
html = browser.html
# Create BeautifulSoup object
soup = bs(html, 'html.parser')

In [5]:
news_elem = soup.select_one('div.list_text')

In [6]:
news_elem

<div class="list_text">
<div class="list_date">July 30, 2021</div>
<div class="content_title">NASA's Perseverance Rover Mission Getting in Shape for Launch</div>
<div class="article_teaser_body">Stacking spacecraft components on top of each other is one of the final assembly steps before a mission launches to the Red Planet. </div>
</div>

In [7]:
news_title = news_elem.find("div", class_="content_title").get_text()
news_title

"NASA's Perseverance Rover Mission Getting in Shape for Launch"

In [8]:
news_para = news_elem.find("div", class_="article_teaser_body").get_text()
news_para

'Stacking spacecraft components on top of each other is one of the final assembly steps before a mission launches to the Red Planet. '

In [9]:
image_url = "https://spaceimages-mars.com/"
browser.visit(image_url)

In [10]:
html = browser.html
soup = bs(html, 'html.parser')

In [11]:
full_image = browser.links.find_by_partial_text("FULL IMAGE").click()
html = browser.html
soup = bs(html, 'html.parser')

In [12]:
image_elem = soup.find("img", class_="fancybox-image").get("src")
image_elem

'image/featured/mars1.jpg'

In [13]:
featured_image_url = image_url + image_elem
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [18]:
facts_url = "https://galaxyfacts-mars.com/"

In [33]:
facts_table = pd.read_html(facts_url)[0]

In [34]:
facts_table

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [35]:
facts_table.columns=facts_table.iloc[0]
facts_table

0  Mars - Earth Comparison             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [36]:
facts_table.set_index("Mars - Earth Comparison", inplace=True)
facts_table

0                                   Mars            Earth
Mars - Earth Comparison
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [39]:
facts_df = facts_table[1:].reset_index()
facts_df

0 Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [40]:
facts_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [276]:
all_images_url = "https://marshemispheres.com/"
browser.visit(all_images_url)

In [277]:
html = browser.html
soup = bs(html, 'html.parser')

In [63]:
hem_title = soup.find_all("img", class_="thumb")
hem_title

[<img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/>,
 <img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"/>,
 <img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"/>,
 <img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"/>]

In [218]:
full_image = browser.find_by_css("img.thumb").click()

In [86]:
title = browser.find_by_css("h2.title").first.value
title

'Cerberus Hemisphere Enhanced'

In [278]:
hemisphere_divs = soup.find_all('div', class_="item")

hemisphere_image_urls = []

for hemisphere in range(len(hemisphere_divs)):
    
    hem_details = browser.find_by_css("img.thumb")
    hem_details[hemisphere].click()
    
#     hem_html = browser.html
#     soup = bs(hem_html, 'html.parser')
    
    title = browser.find_by_css("h2.title").first.value
    page_div = soup.find("div", class_="downloads")
    img_href = page_div.a["href"]
    
    img_url = all_images_url + img_href
    
    hemisphere_image_urls.append({"Title": title, "URL": img_url})
    
    browser.back()

AttributeError: 'NoneType' object has no attribute 'a'

In [234]:
browser.visit("https://marshemispheres.com/schiaparelli.html")
html = browser.html
soup = bs(html, 'html.parser')
page_div = soup.find("div", class_="downloads")
page_div.a['href']

'images/schiaparelli_enhanced-full.jpg'

In [274]:
hemisphere_image_urls

[]