In [31]:
import os
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [32]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\leann\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [33]:
# Mars Plant Science webpage
url = "https://redplanetscience.com/"
browser.visit(url)

In [34]:
html = browser.html
# Create BeautifulSoup object
soup = bs(html, 'html.parser')

In [35]:
news_elem = soup.select_one('div.list_text')

In [36]:
news_elem

<div class="list_text">
<div class="list_date">July 31, 2021</div>
<div class="content_title">Screening Soon: 'The Pathfinders' Trains Lens on Mars</div>
<div class="article_teaser_body">With the Mars 2020 mission ramping up, the documentary — the first of four about past JPL missions to the Red Planet to be shown at Caltech — tells a gripping backstory.</div>
</div>

In [37]:
news_title = news_elem.find("div", class_="content_title").get_text()
news_title

"Screening Soon: 'The Pathfinders' Trains Lens on Mars"

In [38]:
news_para = news_elem.find("div", class_="article_teaser_body").get_text()
news_para

'With the Mars 2020 mission ramping up, the documentary — the first of four about past JPL missions to the Red Planet to be shown at Caltech — tells a gripping backstory.'

In [39]:
image_url = "https://spaceimages-mars.com/"
browser.visit(image_url)

In [40]:
html = browser.html
soup = bs(html, 'html.parser')

In [41]:
full_image = browser.links.find_by_partial_text("FULL IMAGE").click()
html = browser.html
soup = bs(html, 'html.parser')

In [42]:
image_elem = soup.find("img", class_="fancybox-image").get("src")
image_elem

'image/featured/mars1.jpg'

In [43]:
featured_image_url = image_url + image_elem
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [122]:
facts_url = "https://galaxyfacts-mars.com/"

In [123]:
facts_table = pd.read_html(facts_url)[0]

In [124]:
facts_table

  0                        1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [125]:
facts_table.columns=["Description", "Mars", "Earth"]
facts_table.set_index("Description", inplace=True)
facts_table

                        Mars             Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [50]:
facts_table.to_html('marsfacts.html', index=False)

In [21]:
all_images_url = "https://marshemispheres.com/"
browser.visit(all_images_url)

In [22]:
html = browser.html
soup = bs(html, 'html.parser')

In [23]:
hemisphere_divs = soup.find_all('div', class_="item")

hemisphere_image_urls = []

for hemisphere in range(len(hemisphere_divs)):
    
    hem_details = browser.find_by_css("img.thumb")
    hem_details[hemisphere].click()
    
    html = browser.html
    soup = bs(html, 'html.parser')
    
    title = browser.find_by_css("h2.title").first.value
    page_div = soup.find("div", class_="downloads")
    img_href = page_div.a["href"]
    
    img_url = all_images_url + img_href
    
    hemisphere_image_urls.append({"title": title, "img_url": img_url})
    
    browser.back()

In [24]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [25]:
browser.quit()